<template>
  <div class="page no-navbar" data-name="contact">
    <div class="page-content">
      <a href="#" class="link back close-button">
        <img src="img/close.svg" alt="Close" />
      </a>
      <div class="oval"></div>
      <div class="block">
        <div class="contact-container">
          <div class="contact-icon">
            <i class="icon ion-ios-clipboard"></i>
          </div>
          <h1>Lengkapi Data</h1>
          <div class="list no-hairlines custom-form contact-form">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <input type="text" name="nama" v-model="nama" placeholder="Nama" />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <input type="text" name="sekolah" v-model="sekolah" placeholder="Sekolah" />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <input type="date" name="ttl" v-model="ttl" placeholder="Tempat Tanggal Lahir" />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <textarea name="alamat" cols="30" rows="10"></textarea>
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div align="center">
            <a
              class="big-button button button-fill"
              @click="biodata()"
            >
              <i class="icon ion-ios-done-all"></i>&nbsp;Simpan
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import "../assets/css/framework7.ios.min.css";
import "../assets/css/style.css";
export default {
  name: "home",
  data() {
    return {
      nama:"",
      sekolah:"",
      ttl:"",
      alamat:""
    };
  },
  methods: {
    biodata() {
      axios
        .post("http://localhost/kitchen-api/User/login.php", {
          nama: this.nama,
          sekolah: this.sekolah,
          ttl: this.ttl,
          alamat: this.alamat
        })
        .then(
          response => {
            console.log(response);
            this.$router.push({ name: "simulasiUnbk" });
          },
          error => {
            console.log(error);
          }
        );
    }
  },
  mounted() {
    this.biodata();
  }
};
</script>