<template>
  <div data-name="home" class="page no-navbar">
    <!-- Scrollable page content -->
    <div class="page-content ptr-content infinite-scroll-content" data-infinite-distance="70">
      <div class="ptr-preloader">
        <div class="preloader"></div>
        <div class="ptr-arrow"></div>
      </div>
      <div class="block" id="today-content">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="title">.:: PROJECT NEXT ::.</div>
            </div>
          </div>
          <div class="block searchbar-container">
            <div style="padding-top: 30px">&nbsp;</div>
            <!-- form search-->
            <form class="searchbar">
              <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                  <input type="search" placeholder="Search" />
                  <i class="searchbar-icon"></i>
                  <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button">Cancel</span>
              </div>
            </form>
          </div>

          <!-- Author -->
          <div class="page author no-navbar" data-name="author">
            <div class="page-content">
              <br />
              <br />
              <a href="#" class="link back close-button">
                <img src="../assets/images/close.svg" alt="Close" />
              </a>
              <div class="oval"></div>
              <div class="block">
                <div class="author-infos">
                  <img class="author-avatar" src="../assets/images/authors/author-3.jpg" alt />
                  <div class="author-name">Yosef Murya</div>
                  <div class="author-description">SD - Kelas 1</div>
                  <div class="social-buttons">
                    <a href="#" target="_blank" class="big-button link facebook external">Raport</a>
                    <a href="#" target="_blank" class="big-button link twitter external">Detail</a>
                  </div>
                </div>

                <div class="block search-container">
                  <div class="searchbar-hide-on-search">
                    <h2>Level Pendidikan</h2>
                    <ul class="popular-tags">
                      <li>
                        <a href="/kategori-sd/" class="link">
                          <span>SD</span>
                          <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="link">
                          <span>SMP</span>
                          <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="link">
                          <span>SMA</span>
                          <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="link">
                          <span>SMK</span>
                          <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="link">
                          <span>Madrasah</span>
                          <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div style="padding-top:600px;">&nbsp;</div>

          <div class="page-content">
            <div class="block">
              <div class="categories-container">
                <a href="/category/">
                  <div
                    class="category card">
                    <img src="../assets/images/bahasa.png" style="box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5)">
                    <h2>Bahasa Indonesia</h2>
                  </div>
                </a>
                <a href="/category/">
                  <div
                    class="category card"
                  >
                    <img src="../assets/images/matematika.png" style="box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5)">
                    <h2>Matematika</h2>
                  </div>
                </a>
                <a href="/category/">
                  <div
                    class="category card"
                  >
                    <img src="../assets/images/ipa.png" style="box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5)">
                    <h2>IPA</h2>
                  </div>
                </a>
                <a href="/category/">
                  <div
                    class="category card"
                  >
                    <img src="../assets/images/ips.png" style="box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5)">
                    <h2>IPS</h2>
                  </div>
                </a>
                <a href="/category/">
                  <div
                    class="category card"
                  >
                    <img src="../assets/images/pkn.png" style="box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5)">
                    <h2>PKn</h2>
                  </div>
                </a>
                <a href="/category/">
                  <div
                    class="category card"
                  >
                    <img src="../assets/images/mengaji.png" style="box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5)">
                    <h2>Mengaji</h2>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div style="padding-top: 960px">&nbsp;</div>

        <!--Iklan promo melayang-->
        <div class="link-block promo-banner">
          <img src="../assets/images/tryout-unbk.png" alt />
          <div class="link-infos">
            <div class="link-title">Simulasi UNBK</div>
            <div class="link-url">Gratis untuk hari ini saja</div>
          </div>
          <a @click="toRegister()" class="link promo-button">FREE</a>
        </div>
        <!--// Iklan promo melayang-->

        <div class="title-container">
          <span class="title-date">17 March</span>
          <h1>Sunday</h1>
        </div>
        <a href="/single/">
          <div class="card medium">
            <img class="card-image" src="../assets/images/thumb-10.jpg" alt />
          </div>
        </a>
        <ul class="list media-list post-list" id="infinite-content">
          <li>
            <a href="/single/">
              <div class="item-content">
                <div class="item-media">
                  <img src="img/thumb-11.jpg" alt />
                </div>
                <div class="item-inner">
                  <div class="item-subtitle">&nbsp;</div>
                  <div class="item-title">The 6th Edition of the Body Painting Contest</div>
                  <div class="item-subtitle bottom-subtitle">
                    <img src="img/authors/author-7.jpg" alt />Elena Anka
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/single/">
              <div class="item-content">
                <div class="item-media">
                  <img src="img/thumb-12.jpg" alt />
                </div>
                <div class="item-inner">
                  <div class="item-subtitle">&nbsp;</div>
                  <div class="item-title">20 Photography Tips for Taking Pictures</div>
                  <div class="item-subtitle bottom-subtitle">
                    <img src="img/authors/author-3.jpg" alt />Jess Roxana
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/single/">
              <div class="item-content">
                <div class="item-media">
                  <img src="img/thumb-13.jpg" alt />
                </div>
                <div class="item-inner">
                  <div class="item-subtitle">&nbsp;</div>
                  <div class="item-title">Tottenham: NFL Turf Is in Place!</div>
                  <div class="item-subtitle bottom-subtitle">
                    <img src="img/authors/author-1.jpg" alt />Camille Aline
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="preloader infinite-scroll-preloader"></div>
      </div>
    </div>
  </div>
</template>

<script>
import '../assets/css/framework7.ios.min.css';
import '../assets/css/style.css';
export default {
  name: 'home',
  data () {
    return {

    }
  },
  methods:{
    toRegister() {
      this.$router.push({name:'register'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.row img {
  max-height: 15em;
  width: 100%;
}
.row h3 {
  cursor: pointer;
}
</style>
