<template>
  <div class="page no-navbar" data-name="contact">
    <div class="page-content">
      <a href="#" class="link back close-button">
        <img src="../assets/images/close.svg" alt="Close" />
      </a>
      <div class="oval"></div>
      <div class="block">
        <div class="contact-container">
          <div class="contact-icon">
            <i class="icon ion-ios-clipboard"></i>
          </div>
          <h1>Daftar Ujian</h1>
          <div class="list no-hairlines custom-form contact-form">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <input type="email" name="email" v-model="email" placeholder="E - Mail" />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <input type="text" name="username" v-model="username" placeholder="Username" />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <input
                      type="password"
                      name="password"
                      v-model="password"
                      placeholder="Password"
                    />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div align="center">
            <a class="big-button button button-fill" @click="signup()">
              <i class="icon ion-ios-done-all"></i>&nbsp;Daftar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import "../assets/css/framework7.ios.min.css";
import "../assets/css/style.css";
export default {
  name: "register",
  data() {
    return {
      email: "",
      username: "",
      password: ""
    }
  },
  methods: {
    signup() {
      axios
        .post("http://localhost/kitchen-api/User/signup.php", {
          email: this.email,
          username: this.username,
          password: this.password
        })
        .then(
          response => {
            console.log(response);
            this.$router.push({ name: "login" });
          },
          error => {
            console.log(error);
          }
        );
    }
  },
  mounted() {
    this.signup();
  }
};
</script>