<template>
  <div class="page no-navbar" data-name="contact">
    <div class="page-content">
      <a href="#" class="link back close-button">
        <img src="img/close.svg" alt="Close" />
      </a>
      <div class="oval"></div>
      <div class="block">
        <div class="contact-container">
          <div class="contact-icon">
            <i class="icon ion-ios-clipboard"></i>
          </div>
          <h1>Kelas</h1>
          <div class="list no-hairlines custom-form contact-form">
            <p></p>
            <ul class="popular-tags">
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 1</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 2</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 3</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 4</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 5</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 6</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 7</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 8</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-ujian/" class="link">
                  <span>
                    <h3>Kelas 9</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-kelas-jurusan/" class="link">
                  <span>
                    <h3>Kelas 10</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-kelas-jurusan/" class="link">
                  <span>
                    <h3>Kelas 11</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
              <li>
                <a href="/simulasi-umbk-kelas-jurusan/" class="link">
                  <span>
                    <h3>Kelas 12</h3>
                  </span>
                  <i class="icon ion-ios-arrow-forward"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import "../assets/css/framework7.ios.min.css";
import "../assets/css/style.css";
export default {
  name: "home",
  data() {
    return {
      nama:"",
      sekolah:"",
      ttl:"",
      alamat:""
    };
  },
  methods: {
    biodata() {
      axios
        .post("http://localhost/kitchen-api/User/login.php", {
          nama: this.nama,
          sekolah: this.sekolah,
          ttl: this.ttl,
          alamat: this.alamat
        })
        .then(
          response => {
            console.log(response);
            this.$router.push({ name: "simulasiUnbk" });
          },
          error => {
            console.log(error);
          }
        );
    }
  },
  mounted() {
    this.biodata();
  }
};
</script>